@model OurRecipes.Web.ViewModels.Recipes.RecipesListViewModel
@{
    this.ViewData["Title"] = $"All Recipes, Page: {Model.PageNumber}";
}

<h1>@this.ViewData["Title"]</h1>
<hr/>
<section class="small-receipe-area section-padding-80-0">
    <div class="container">
        <div class="row">
            @foreach(var recipe in this.Model.Recipes)
            {
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-small-receipe-area d-flex">
                        <div class="receipe-thumb">
                            <img src="@recipe.ImageUrl" alt="">
                        </div>
                        <div class="receipe-content">
                            <span>@recipe.CreatedOn</span>
                            <a href="receipe-post.html">
                                <h5>@recipe.Name</h5>
                            </a>
                            @*<p>@recipe.Comments</p>*@
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<hr/>
<nav aria-label="...">
    <ul class="pagination justify-content-center">
        <li class="page-item" @if (!Model.HasPreviousPage) { <text> disabled</text> }>
            <span class="page-link" asp-action="AllRecipes" asp-route-id="@Model.PreviousPageNumber">Previous</span>
        </li>
        @for (int i = Model.PageNumber - 3; i < Model.PageNumber; i++)
        {
            if (i > 0)
            {
                <li class="page-item"><a class="page-link" asp-action="AllRecipes" asp-route-id="@i">@i</a></li>
            }
        }
        <li class="page-item active">
            <span class="page-link">
                @Model.PageNumber
                <span class="sr-only">(current)</span>
            </span>
        </li>
        @for (int i = Model.PageNumber + 1; i <= Model.PageNumber + 3; i++)
        {
            if (i <= Model.PagesCount)
            {
                <li class="page-item"><a class="page-link" asp-action="AllRecipes" asp-route-id="@i">@i</a></li>
            }
        }
        <li class="page-item" @if (!Model.HasNextPage) { <text> disabled</text> }>
            <a class="page-link" asp-action="AllRecipes" asp-route-id="@Model.NextPageNumber">Next</a>
        </li>
    </ul>
</nav>

@Model.RecipesCount
@Model.PagesCount
