@model OurRecipes.Web.ViewModels.Recipes.RecipeInfoViewModel
@{
    this.ViewData["Title"] = $"Recipe Info";
}
<body>
    <!-- ##### Breadcumb Area Start ##### -->
    <div class="breadcumb-area bg-img bg-overlay" style="background-image: url(@Model.Image);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcumb-text text-center">
                        <h2>Recipe Info</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Breadcumb Area End ##### -->
    <hr/>
    <div class="receipe-post-area section-padding-80">

        <!-- Receipe Content Area -->
        <div class="receipe-content-area">
            <div class="container">

                <div class="row">
                    <div class="col-12 col-md-8">
                        <div class="receipe-headline my-5">
                            <span>@Model.CreatedOn.ToLocalTime()</span>
                            <h2>@Model.Name</h2>
                            <div class="receipe-duration">
                                <h6>Cooking: @Model.Time minutes</h6>
                                <h6>Content: @Model.MealCount Portion</h6>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-4">
                        <div class="receipe-ratings text-right my-5">
                            <a class="btn delicious-btn">@Model.DifficultyLevel</a>
                        </div>
                    </div>
                </div>

                <!-- Receipe Slider -->
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="owl-stage-outer">
                                <div class="owl-stage">
                                    <div class="owl-item active" style="width:100%; padding-bottom:50px;">
                                        <img src="@Model.Image" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-lg-8">
                        <!-- Single Preparation Step -->
                        <div class="col-12 col-lg-4">
                            <div class="">
                                <h4>Steps</h4>
                                @{int i = 1;}
                                @foreach (var step in this.Model.Steps)
                                {
                                    <div class="single-preparation-step d-flex">
                                        <p style="margin-top: 20px; font-size:20px;">@i @step.Description</p>
                                    </div>
                                    i++;
                                }
                            </div>
                        </div>
                        <!-- Ingredients -->
                        <div class="col-12 col-lg-4">
                            <div class="ingredients">
                                <h4>Ingredients</h4>
                                @foreach (var ingredient in this.Model.Ingredients)
                                {
                                    <!-- Custom Checkbox -->
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck1">
                                        <label class="custom-control-label" for="customCheck1">@ingredient.Name</label>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                <div class="row">
                    <div class="col-12">
                        <div class="contact-form-area">
                            <form action="#" method="post">
                                <div class="row">
                                    <div class="col-12 col-lg-6">
                                        <input type="text" class="form-control" id="name" placeholder="Name">
                                    </div>
                                    <div class="col-12 col-lg-6">
                                        <input type="email" class="form-control" id="email" placeholder="E-mail">
                                    </div>
                                    <div class="col-12">
                                        <input type="text" class="form-control" id="subject" placeholder="Subject">
                                    </div>
                                    <div class="col-12">
                                        <textarea name="message" class="form-control" id="message" cols="30" rows="10" placeholder="Message"></textarea>
                                    </div>
                                    <div class="col-12">
                                        <button class="btn delicious-btn mt-30" type="submit">Post Comment</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>